.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    align-items: center;
  }
/*   
  .logo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  /* .title {
    font-size: 23px;
    font-weight: 600;
    line-height: 30px;
    color: #101828;
    margin: 80px 0 40px 0;
  } */
  
 
  .iconContainer {
    display: flex;
    align-items: center;
  }
  
  .my_form {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  input {
    width: 100%;
    padding: 14px 14px;
    border-radius: 6px;
    border: 1px solid #d3d8dc;
    box-sizing: border-box;
  }
  
  button {
    padding: 14px 14px;
    background: #316fea;
    color: white;
    border-radius: 6px;
    border: 1px solid #d3d8dc;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #255abc;
  }
  .button:disabled {
    pointer-events: none;
    background: #5278c5;
  }
