.row {
  display: flex;
  max-width: 760px;
  min-width: 300px;
  min-height: 24.5px;
  margin: 0 auto;
  padding: 20px;
  gap: 40px;
}

.selected {
  outline: 2px solid #0d99ff;
}
.row:not(.selected):hover {
  outline: 1px solid #0d99ff66;
}
